body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section-one {
    background-color: #1F2937;
}

.header {

}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.right-links {

}

ul {

}

a {
    color: #E5E7EB;
}

li {

}

.header-content {

}

.information {

}

.info-content {

}

.info-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.info-para {
    color: #E5E7EB;
}

.bt-one {
    background-color: #3882F6;
    color: #F9FAF8;
}

.placeholder-img {
background-color: #E5E7EB;
}