body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section-one {

}

.header {

}

.logo {

}

.right-links {

}

ul {

}

li {

}

.header-content {

}

.information {

}

.info-content {

}

.info-heading {

}

.info-para {

}

.bt-one {

}

.placeholder-img {
    
}